.dropdown-container {
    width: 20%;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0;
    border: 1.5px solid darkgray;
    background-image: black;
    font-size: 16px;
    color: #000;
    background: #e2dbdbe3;
    border-radius: 10px;
    text-align: center;
}
.dropdown-title{
    cursor: pointer;
    padding-left: 20px;
}
